

<header>
    <section class="top-heading">
      <div class="slide-deal-header">
        <div class="deal-header header-top-intro">
          <div>
            <a>
              <i class="icon-chinhhang"></i>
              <span>SẢN PHẨM CHÍNH HÃNG</span>
            </a>
          </div>
          <div>
            <a href="/chinh-sach-bao-hanh">
              <i class="icon-ChangeSolidOff"></i>
              <span>CAM KẾT LỖI ĐỔI LIỀN (*)</span>
            </a>
          </div>
          <div>
            <a>
              <i class="icon-CallingSolidOff"></i>
              <span>HOTLINE 1900.2091</span>
            </a>
          </div>
          <div>
            <a>
              <i class="icon-DeliverySolidOff"></i>
              <span>MIỄN PHÍ VẬN CHUYỂN TOÀN QUỐC</span>
            </a>
          </div>
        </div>
        <a href="/thu-cu-doi-moi" class="deal-header header-top-sales">
          <div>
            <i class="icon-ChangeSolidOff"></i
            ><span> Thu cũ giá cao toàn bộ sản phẩm</span>
          </div>
        </a>
      </div>
    </section>

    <section class="w-container">
      <div class="logo-search-user">
        <div class="logo">
          <a href="/">
            <img src="/static/user/images/logo/hoangvumobile.png" alt="" />
          </a>
        </div>

        <div class="search">
          <div class="search-box">
            <form method="get" action="/tim-kiem">
              <div class="search-bg">
                <input id="scope" name="scope" type="hidden" />
                <input
                  id="kwd"
                  name="kwd"
                  type="text"
                  placeholder="Hôm nay bạn muốn tìm kiếm gì?" />
                <button type="submit">
                  <i class="icon-SearchSolidOff"></i>
                  <span>Tìm kiếm</span>
                </button>
              </div>
            </form>
          </div>

          <div class="search-sugget">
            <strong>Từ khóa xu hướng</strong>
            <a href="/tim-kiem?kwd=Samsung Galaxy A16">Samsung Galaxy A16</a>
            <a href="/tim-kiem?kwd=Redmi Note 14">Redmi Note 14</a>
            <a href="/tim-kiem?kwd= Tecno Pova 6 Neo"> Tecno Pova 6 Neo</a>
            <a href="/tim-kiem?kwd=iPhone 16">iPhone 16</a>
          </div>
        </div>

        <div class="quick-for-user">
          <a class="shop-location" href="/he-thong-cua-hang">
            <i class="icon-localtion"></i>
            <span>Tìm siêu thị</span>
          </a>

          <a
            id="login-membera"
            class="user text-link"
            title="Truy cập trang tài khoản"
            href="#">
            <i class="icon-UserSolidOff"></i>
            <span>Tài khoản</span>
          </a>

          <a class="cart text-link" href="/gio-hang">
            <i class="icon-Cart2SolidOff"></i>
            <label class="cart-counter" id="cart-total">0</label>
          </a>
        </div>
      </div>
    </section>
  </header>
