
<footer>
    <div class="w-container">
      <div class="chat-button-div" id="btn-chatbox">
        <button class="chat-button">
          <img src="/static/user/images/icons/member.png" width="50" />
          <span>CHAT NGAY</span>
        </button>
        <div id="ContactForConsultation">
          <div class="contact">
            <div class="contact-header">
              <div class="header-group">
                <img src="/static/user/images/icons/Icon contact.png" />
                <strong>LIÊN HỆ ĐỂ ĐƯỢC TƯ VẤN</strong>
              </div>
              <i class="icon-minutes fs-closes"></i>
            </div>
            <div class="contect-info">
              <a href="tel:0862822544" target="_self" class="contect-info-item">
                <img src="/static/user/images/icons/frame-3766-2.png" />
                <span>Gọi 0862822544</span>
              </a>
              <a
                href="https://zalo.me/262829019064124420"
                target="_blank"
                class="contect-info-item">
                <img src="/static/user/images/social/social-media-button-1.png" />
                <span>Nhắn Zalo</span>
              </a>
              <a
                href="https://m.me/hoanghamobilecom"
                target="_blank"
                class="contect-info-item">
                <img src="/static/user/images/social/frame-3767.png" />
                <span>Nhắn Facebook Messenger</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="bx-chat-view" id="chatbox-info">
        <div class="bx-chat">
          <div class="header-chat">
            <strong>HoanghaMobile</strong>
            <div class="fs-closes">
              <i class="icon-minutes"> </i>
            </div>
          </div>
          <div class="content-chat" id="chatMessages">
            <div class="bx-message bx-user-admin">
              <div>
                <a
                  href="/"
                  title="CÔNG TY CỔ PHẦN XÂY DỰNG VÀ ĐẦU TƯ THƯƠNG MẠI HOÀNG HÀ">
                  <img
                    src="/static/user/images/icons/admin chat.png"
                    alt="CÔNG TY CỔ PHẦN XÂY DỰNG VÀ ĐẦU TƯ THƯƠNG MẠI HOÀNG HÀ" />
                </a>
              </div>
              <div class="message">
                <div>
                  <p>
                    Nếu Anh/Chị có câu hỏi nào về sản phẩm, chính sách hoặc
                    dịch vụ của HoangHaMobile, hãy cho em biết nhé! Em sẽ giúp
                    Anh/Chị nhanh chóng. Cảm ơn Anh/Chị!
                  </p>
                </div>
              </div>
            </div>
            <div class="bx-message bx-user-client">
              <div class="message">
                <div>
                  <p>tôi đang cần hỗ trợ trợ</p>
                </div>
              </div>
            </div>
          </div>
          <div class="bx-input">
            <div class="p-3 border-top">
              <div class="row">
                <div class="col">
                  <form class="position-relative" id="chatForm">
                    <input
                      type="text"
                      id="textMessages"
                      class="form-control border bg-soft-light"
                      placeholder="Enter Message..." />
                    <div class="input-btn">
                      <i class="icon-sending"></i>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg">
        <div class="col-content">
          <div class="link-content">
            <h4><a>Hỗ trợ - dịch vụ</a></h4>
            <ul>
              <li>
                <a href="/mua-hang-tra-gop"
                  >Ch&#237;nh s&#225;ch v&#224; hướng dẫn mua h&#224;ng trả
                  g&#243;p</a
                >
              </li>
              <li>
                <a href="/huong-dan-dat-hang"
                  >Hướng dẫn mua h&#224;ng v&#224; ch&#237;nh s&#225;ch vận
                  chuyển</a
                >
              </li>
              <li><a href="/order/check">Tra cứu đơn h&#224;ng</a></li>
              <li>
                <a href="/chinh-sach-bao-hanh"
                  >Ch&#237;nh s&#225;ch đổi mới v&#224; bảo h&#224;nh</a
                >
              </li>
              <li>
                <a
                  href="/tin-tuc/dat-hang/dich-vu-bao-hanh-mo-rong-hoang-ha-mobile/"
                  >Dịch vụ bảo h&#224;nh mở rộng</a
                >
              </li>
              <li>
                <a href="/chinh-sach-bao-mat">Ch&#237;nh s&#225;ch bảo mật</a>
              </li>
              <li>
                <a href="/chinh-sach-giai-quyet-khieu-nai"
                  >Ch&#237;nh s&#225;ch giải quyết khiếu nại</a
                >
              </li>
              <li>
                <a href="/dieu-khoan-mua-ban-hang-hoa">Quy chế hoạt động</a>
              </li>
            </ul>
          </div>
          <div class="link-content">
            <h4><a>Th&#244;ng tin li&#234;n hệ</a></h4>
            <ul>
              <li>
                <a href="/mua-hang-online"
                  >Th&#244;ng tin c&#225;c trang TMĐT
                </a>
              </li>
              <li>
                <a href="/cham-soc-khach-hang"
                  >Chăm s&#243;c kh&#225;ch h&#224;ng</a
                >
              </li>
              <li>
                <a
                  href="/tin-tuc/hoang-ha-care-dich-vu-sua-chua-dien-thoai-may-tinh-bang-voi-gia-tot-nhat-thi-truong"
                  >Dịch vụ sửa chữa Ho&#224;ng H&#224; Care</a
                >
              </li>
              <li>
                <a href="/hop-tac-kinh-doanh"
                  >Kh&#225;ch h&#224;ng doanh nghiệp (B2B)</a
                >
              </li>
              <li>
                <a href="https://tuyendung.hoanghamobile.com/">Tuyển dụng</a>
              </li>
              <li><a href="/trung-tam-bao-hanh">Tra cứu bảo h&#224;nh</a></li>
            </ul>
          </div>
          <div>
            <div>
              <h4>Thanh toán miễn phí</h4>
              <ul class="list-logo">
                <li>
                  <img src="/static/user/images/social/visa.png" />
                  <img src="/static/user/images/social/mastercard.png" />
                  <img src="/static/user/images/social/jcb.png" />
                  <img src="/static/user/images/social/samsungpay.png" />
                  <img src="/static/user/images/social/vnpay.png" />
                  <img src="/static/user/images/social/zalopay.png" />
                  <img src="/static/user/images/social/applepay.png" />
                </li>
              </ul>
            </div>

            <div>
              <h4>Hình thức vận chuyển</h4>
              <ul class="list-logo">
                <li>
                  <img src="/static/user/images/social/nhattin.png" />
                  <img src="/static/user/images/social/vnpost.png" />
                </li>
              </ul>
            </div>
          </div>
          <div style="display: flex; gap: 20px">
            <div>
              <h4>Tổng đài</h4>
              <a class="hotline" href="tel:1900.2091">1900.2091</a>
              <div>(Từ 8h30 - 21h30)</div>
            </div>
            <div>
              <h4>Kết nối với chúng tôi</h4>
              <ul style="display: flex; gap: 10px">
                <li>
                  <a
                    href="https://www.facebook.com/hoanghamobilecom"
                    title=""
                    target="_blank"
                    class="footer-social-item"
                    ><span
                      ><img
                        onmouseover="changesrc(this)"
                        onmouseout="changesrc(this)"
                        src="/static/user/images/social/Social_fb.png" /></span
                  ></a>
                </li>
                <li>
                  <a
                    href="https://www.tiktok.com/@hoanghaangels?"
                    title=""
                    target="_blank"
                    class="footer-social-item"
                    ><span
                      ><img
                        onmouseover="changesrc(this)"
                        onmouseout="changesrc(this)"
                        src="/static/user/images/social/Social_tiktok.png" /></span
                  ></a>
                </li>
                <li>
                  <a
                    href="https://www.youtube.com/channel/UCJm_GdFJzT8h1odq1oMu_7Q?sub_confirmation=1"
                    title=""
                    target="_blank"
                    class="footer-social-item"
                    ><span
                      ><img
                        onmouseover="changesrc(this)"
                        onmouseout="changesrc(this)"
                        src="/static/user/images/social/Social_youtube.png" /></span
                  ></a>
                </li>
                <li>
                  <a
                    href="https://www.instagram.com/hoanghamobile/?hl=vi"
                    title=""
                    target="_blank"
                    class="footer-social-item"
                    ><span
                      ><img
                        onmouseover="changesrc(this)"
                        onmouseout="changesrc(this)"
                        src="/static/user/images/social/Social_instagram.png" /></span
                  ></a>
                </li>
                <li>
                  <a
                    href="https://www.threads.net/@hoanghamobile"
                    title=""
                    target="_blank"
                    class="footer-social-item"
                    ><span
                      ><img
                        onmouseover="changesrc(this)"
                        onmouseout="changesrc(this)"
                        src="/static/user/images/social/Social_thread.png" /></span
                  ></a>
                </li>
              </ul>
            </div>
            <div class="mg-top20">
              <a
                href="http://online.gov.vn/Home/WebDetails/28738"
                target="_blank"
                ><img src="/static/user/images/social/logo-bct.png"
              /></a>
            </div>
          </div>
        </div>
        <div class="info">
          <p>
            © 2020. C&#212;NG TY CỔ PHẦN X&#194;Y DỰNG V&#192; ĐẦU TƯ THƯƠNG
            MẠI HO&#192;NG H&#192;. MST: 0106713191. (Đăng k&#253; lần đầu:
            Ng&#224;y 15 th&#225;ng 12 năm 2014, Đăng k&#253; thay đổi
            ng&#224;y 24/11/2022)
          </p>
          <p>
            <strong
              >GP số 426/GP-TTĐT do sở TTTT Hà Nội cấp ngày 22/01/2021</strong
            >
          </p>
          <p>
            Địa chỉ: Số 89 Đường Tam Trinh, Phường Mai Động, Quận Ho&#224;ng
            Mai, Th&#224;nh Phố H&#224; Nội, Việt Nam. Điện thoại: 1900.2091.
            Chịu trách nhiệm nội dung: <strong>Hoàng Minh Tâm</strong>.
          </p>
        </div>
      </div>
      <style>
        footer .bg .col-content > div {
          width: 25%;
        }
      </style>
      <script>
        function changesrc(src) {
          var source = $(src).attr("src");
          if (source.endsWith("active.png"))
            source = source.replace("_active.png", ".png");
          else source = source.replace(".png", "_active.png");
          $(src).attr("src", source);
        }
      </script>
    </div>
  </footer>
